*{
    font-family: Arial, Helvetica, sans-serif ;
}
table {
    width: 100%;
}

table, th,tr , td {
    border: 1px solid black;
    /* border-collapse: collapse; */
    border-radius: 5px;
}

th {
    background-color: darkolivegreen;
}

td, th {
    padding: 10px;
}

tr:hover{
    background-color: aqua;
}